@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Movies</h1>


    <ul>
        @foreach (var item in @Model)
        {
            <li>@item.Title</li>
        }
    </ul>
</div>
