body {
}

.color-green {
    color: #449A73;
}

.color-gold {
    color: #E8972C;
}

.navbar-text-font {
    font-size: 1.25rem;
}

.navbar {
    background-color: #436555;
}

body {
    background-color: white;
}

.card-body {
    background-color: whitesmoke;
    color: #496F5D;
}

.card-header {
    background-color: #283D33;
}
